# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
alembic=1.6.2=pypi_0
anyjson=0.3.3=py38h06a4308_1
apache-airflow=2.1.0=pypi_0
apache-airflow-providers-apache-beam=2.0.0=pypi_0
apache-airflow-providers-ftp=1.1.0=pypi_0
apache-airflow-providers-google=3.0.0=pypi_0
apache-airflow-providers-imap=1.0.1=pypi_0
apache-airflow-providers-sqlite=1.0.2=pypi_0
apache-beam=2.29.0=pypi_0
apispec=3.3.2=pypi_0
appdirs=1.4.4=pypi_0
argcomplete=1.12.3=pyhd3eb1b0_0
argon2_cffi=19.1.0=py38h7b6447c_0
arrow=1.1.0=py38h06a4308_0
attrs=20.3.0=pypi_0
autopep8=1.5.7=pyhd3eb1b0_0
avro-python3=1.9.2.1=pypi_0
babel=2.9.1=pyhd3eb1b0_0
bcrypt=3.2.0=py38h7b6447c_0
beam-nuggets=0.18.0=pypi_0
blas=1.0=mkl
blinker=1.4=pypi_0
brotlipy=0.7.0=py38h27cfd23_1003
ca-certificates=2021.5.25=h06a4308_1
cached-property=1.5.2=py_0
cachetools=4.2.2=pypi_0
cairo=1.14.12=h7636065_2
cattrs=1.6.0=pypi_0
certifi=2020.12.5=pypi_0
cffi=1.14.5=py38h261ae71_0
chardet=4.0.0=py38h06a4308_1003
click=7.1.2=pyhd3eb1b0_0
clickclick=20.10.2=pypi_0
colorama=0.4.4=pyhd3eb1b0_0
colorlog=5.0.1=py38h06a4308_1
colour=0.1.5=py38h06a4308_0
commonmark=0.9.1=pypi_0
configparser=5.0.2=pyhd3eb1b0_0
crcmod=1.7=pypi_0
croniter=1.0.13=pypi_0
cryptography=3.4.7=py38hd23ed53_0
defusedxml=0.7.1=pyhd3eb1b0_0
dill=0.3.1.1=pypi_0
distlib=0.3.2=pypi_0
dnspython=1.16.0=pypi_0
docopt=0.6.2=pypi_0
docutils=0.17.1=py38h06a4308_1
email-validator=1.1.2=pypi_0
enum34=1.1.10=pypi_0
et_xmlfile=1.1.0=py38h06a4308_0
expat=2.4.1=h2531618_2
fastavro=1.4.1=pypi_0
fasteners=0.16.1=pypi_0
filelock=3.0.12=pypi_0
flask=1.1.2=pyhd3eb1b0_0
flask-admin=1.5.4=py_0
flask-appbuilder=3.3.0=pypi_0
flask-babel=1.0.0=pypi_0
flask-caching=1.10.1=pyhd3eb1b0_0
flask-jwt-extended=3.25.1=pypi_0
flask-login=0.4.1=py38_0
flask-openid=1.2.5=py38h06a4308_1003
flask-sqlalchemy=2.5.1=pyhd3eb1b0_0
flask-swagger=0.2.13=py_2
flask-wtf=0.14.3=py_0
fontconfig=2.12.6=h49f89f6_0
freetype=2.8=hab7d2ae_1
fribidi=1.0.10=h7b6447c_0
funcsigs=1.0.2=py38h06a4308_0
furl=2.1.2=pyhd3eb1b0_0
future=0.18.2=py38_1
glib=2.68.2=h36276a3_0
google-ads=7.0.0=pypi_0
google-api-core=1.29.0=pypi_0
google-api-python-client=1.12.8=pypi_0
google-apitools=0.5.31=pypi_0
google-auth=1.30.1=pypi_0
google-auth-httplib2=0.1.0=pypi_0
google-auth-oauthlib=0.4.4=pypi_0
google-cloud-automl=2.3.0=pypi_0
google-cloud-bigquery=1.28.0=pypi_0
google-cloud-bigquery-datatransfer=3.1.1=pypi_0
google-cloud-bigquery-storage=1.1.0=pypi_0
google-cloud-bigtable=1.7.0=pypi_0
google-cloud-container=1.0.1=pypi_0
google-cloud-core=1.6.0=pypi_0
google-cloud-datacatalog=3.2.0=pypi_0
google-cloud-dataproc=2.4.0=pypi_0
google-cloud-datastore=1.15.3=pypi_0
google-cloud-dlp=1.0.0=pypi_0
google-cloud-kms=2.2.0=pypi_0
google-cloud-language=1.3.0=pypi_0
google-cloud-logging=2.4.0=pypi_0
google-cloud-memcache=1.0.0=pypi_0
google-cloud-monitoring=2.2.1=pypi_0
google-cloud-os-login=2.2.1=pypi_0
google-cloud-pubsub=2.5.0=pypi_0
google-cloud-redis=2.1.1=pypi_0
google-cloud-secret-manager=1.0.0=pypi_0
google-cloud-spanner=1.19.1=pypi_0
google-cloud-speech=1.3.2=pypi_0
google-cloud-storage=1.38.0=pypi_0
google-cloud-tasks=2.3.0=pypi_0
google-cloud-texttospeech=1.0.1=pypi_0
google-cloud-translate=1.7.0=pypi_0
google-cloud-videointelligence=1.16.1=pypi_0
google-cloud-vision=1.0.0=pypi_0
google-cloud-workflows=1.0.0=pypi_0
google-crc32c=1.1.2=pypi_0
google-resumable-media=1.3.0=pypi_0
googleapis-common-protos=1.53.0=pypi_0
graphite2=1.3.14=h23475e2_0
graphviz=2.40.1=h25d223c_0
greenlet=1.1.0=pypi_0
grpc-google-iam-v1=0.12.3=pypi_0
grpcio=1.38.0=pypi_0
grpcio-gcp=0.2.2=pypi_0
gunicorn=20.1.0=py38h06a4308_0
h11=0.12.0=pypi_0
harfbuzz=1.7.6=h5f0a787_1
hdfs=2.6.0=pypi_0
httpcore=0.13.3=pypi_0
httplib2=0.17.4=pypi_0
httpx=0.18.1=pypi_0
icu=58.2=he6710b0_3
idna=2.10=pyhd3eb1b0_0
importlib-metadata=1.7.0=pypi_0
importlib-resources=1.5.0=pypi_0
importlib_metadata=3.10.0=hd3eb1b0_0
infinity=1.5=py38h06a4308_0
inflection=0.5.1=pypi_0
intel-openmp=2021.2.0=h06a4308_610
intervals=0.9.1=py38h06a4308_0
iso8601=0.1.14=py38h06a4308_1
isodate=0.6.0=pypi_0
itsdangerous=1.1.0=pypi_0
jdcal=1.4.1=py_0
jinja2=2.11.3=pypi_0
jpeg=9b=h024ee3a_2
json-merge-patch=0.2=py_0
jsonschema=3.2.0=py_2
kafka-python=2.0.2=pypi_0
krb5=1.17.1=h173b8e3_0
lazy-object-proxy=1.4.3=pypi_0
ld_impl_linux-64=2.33.1=h53a641e_7
libcst=0.3.19=pypi_0
libedit=3.1.20210216=h27cfd23_1
libffi=3.3=he6710b0_2
libgcc-ng=9.1.0=hdf63c60_0
libpng=1.6.37=hbc83047_0
libpq=12.2=h20c2e04_0
libstdcxx-ng=9.1.0=hdf63c60_0
libtiff=4.2.0=h85742a9_0
libtool=2.4.6=h7b6447c_1005
libwebp-base=1.2.0=h27cfd23_0
libxcb=1.14=h7b6447c_0
libxml2=2.9.10=hb55368b_3
lockfile=0.12.2=py38h06a4308_0
lz4-c=1.9.3=h2531618_0
mako=1.1.4=pyhd3eb1b0_0
markdown=3.3.4=py38h06a4308_0
markupsafe=1.1.1=pypi_0
marshmallow=3.12.1=pyhd3eb1b0_0
marshmallow-enum=1.5.1=py_0
marshmallow-oneofschema=2.1.0=pypi_0
marshmallow-sqlalchemy=0.23.1=pypi_0
mkl=2021.2.0=h06a4308_296
mkl-service=2.3.0=py38h27cfd23_1
mkl_fft=1.3.0=py38h42c9631_2
mkl_random=1.2.1=py38ha9443f7_2
mypy-extensions=0.4.3=pypi_0
natsort=7.1.1=pyhd3eb1b0_0
ncurses=6.2=he6710b0_1
numpy=1.20.3=pypi_0
oauth2client=4.1.3=pypi_0
oauthlib=3.1.1=pypi_0
openapi-schema-validator=0.1.5=pypi_0
openapi-spec-validator=0.3.0=pypi_0
openpyxl=3.0.7=pyhd3eb1b0_0
openssl=1.1.1k=h27cfd23_0
orderedmultidict=1.0.1=py38_0
packaging=20.9=pypi_0
pandas=1.2.4=py38h2531618_0
pandas-gbq=0.14.1=pypi_0
pango=1.42.0=h377f3fa_0
passlib=1.7.1=pypi_0
pcre=8.44=he6710b0_0
pendulum=2.1.2=pypi_0
pg8000=1.13.1=pypi_0
phonenumbers=8.12.23=pyhd3eb1b0_0
pip=21.1.1=py38h06a4308_0
pixman=0.40.0=h7b6447c_0
plyvel=1.3.0=pypi_0
prison=0.1.3=pyhd3eb1b0_0
proto-plus=1.18.1=pypi_0
protobuf=3.17.2=pypi_0
psutil=5.8.0=py38h27cfd23_1
psycopg2=2.8.6=py38h3c74f83_1
pyarrow=1.0.1=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycodestyle=2.7.0=pyhd3eb1b0_0
pycparser=2.20=py_2
pydata-google-auth=1.2.0=pypi_0
pydot=1.4.2=pypi_0
pygments=2.9.0=pyhd3eb1b0_0
pyjwt=1.7.1=py38_0
pymongo=3.11.4=pypi_0
pymysql=1.0.2=pypi_0
pyopenssl=20.0.1=pyhd3eb1b0_1
pyparsing=2.4.7=pypi_0
pyrsistent=0.17.3=py38h7b6447c_0
pysocks=1.7.1=py38h06a4308_0
python=3.8.10=hdb3f193_7
python-daemon=2.3.0=py38h06a4308_3
python-dateutil=2.8.1=pyhd3eb1b0_0
python-editor=1.0.4=py_0
python-graphviz=0.16=pyhd3eb1b0_1
python-nvd3=0.15.0=pypi_0
python-slugify=4.0.1=pypi_0
python3-openid=3.2.0=pyhd3eb1b0_0
pytz=2021.1=pyhd3eb1b0_0
pytzdata=2020.1=py_0
pyyaml=5.4.1=py38h27cfd23_1
readline=8.1=h27cfd23_0
requests=2.25.1=pyhd3eb1b0_0
requests-oauthlib=1.3.0=pypi_0
rfc3986=1.5.0=pypi_0
rich=9.2.0=pypi_0
rsa=4.7.2=pypi_0
setproctitle=1.2.2=py38h27cfd23_1004
setuptools=52.0.0=py38h06a4308_0
six=1.16.0=pypi_0
sniffio=1.2.0=pypi_0
sqlalchemy=1.3.24=pypi_0
sqlalchemy-jsonfield=1.0.0=pypi_0
sqlalchemy-utils=0.37.2=pypi_0
sqlite=3.35.4=hdfb4753_0
swagger-ui-bundle=0.0.8=pypi_0
tabulate=0.8.9=py38h06a4308_0
tenacity=6.2.0=pypi_0
termcolor=1.1.0=py38h06a4308_1
text-unidecode=1.3=py_0
thrift=0.13.0=py38h2531618_0
tk=8.6.10=hbc83047_0
toml=0.10.2=pyhd3eb1b0_0
typing=3.10.0.0=py38h06a4308_0
typing-inspect=0.6.0=pypi_0
typing_extensions=3.7.4.3=pyha847dfd_0
tzdata=2020f=h52ac0ba_0
tzlocal=2.1=py38_0
unicodecsv=0.14.1=py38_0
uritemplate=3.0.1=pypi_0
urllib3=1.26.4=pyhd3eb1b0_0
virtualenv=20.4.7=pypi_0
werkzeug=1.0.1=pyhd3eb1b0_0
wheel=0.36.2=pyhd3eb1b0_0
wtforms=2.3.3=py_0
xlrd=2.0.1=pyhd3eb1b0_0
xz=5.2.5=h7b6447c_0
yaml=0.2.5=h7b6447c_0
zipp=3.4.1=pyhd3eb1b0_0
zlib=1.2.11=h7b6447c_3
zope=1.0=py38_1
zope.deprecation=4.4.0=py38_0
zstd=1.4.9=haebb681_0
